/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
header {
  border-bottom: 4px solid #000;
  background-color: #89C9E4;
  margin: 0;
  padding: 20px 0;
  display: flex;
  justify-content: space-around;
}
header nav {
  margin-left: 60px;
  margin-top: 0;
}
header h1 {
  font-size: 3.5rem;
  color: #000;
}
header a {
  margin-left: 20px;
  font-size: 2rem;
  color: #000;
  text-decoration: none;
}
footer {
  margin: 0 auto;
  width: 100%;
  background: #000000;
}
footer h2 {
  font-size: 3rem;
}
footer .footer-boxes {
  color: white;
  display: flex;
  flex-direction: column;
}
footer .footer-boxes div {
  text-align: center;
  width: 100%;
}
#top-section {
  background: linear-gradient(90deg, rgba(2, 0, 36, 0.7) 0%, rgba(18, 3, 5, 0.5) 72%, rgba(85, 65, 65, 0.8) 98%), url('../images/cover-pic.jpg');
  width: 100%;
  height: 800px;
  margin-top: 0;
  background-size: cover;
}
#top-section .top-container {
  padding: 100px;
  padding-left: 500px;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
}
#top-section p {
  color: #89C9E4;
  font-size: 60px;
  font-weight: bold;
}
#top-section h1 {
  color: #000;
  font-size: 75px;
  font-weight: bold;
}
#top-section button {
  display: block;
  background-color: #89C9E4;
  width: 200px;
  height: 45px;
  font-size: 2rem;
  border-radius: 20px;
  text-align: center;
  border: 4px solid black;
}
#top-section button a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
#top-section button a:hover {
  background: black;
  color: #89C9E4;
}
#feature-section {
  width: 100%;
  height: 800px;
}
#feature-section h2 {
  font-size: 100px;
  font-weight: bold;
  margin: 20px;
  padding: 30px;
  padding-left: 500px;
  border-bottom: 3px solid black;
}
#feature-section .features {
  display: flex;
  justify-content: space-evenly;
}
#feature-section .featurettes {
  margin: 50px;
  background-color: #89C9E4;
  width: 100%;
  height: auto;
  box-shadow: 0 10px 6px -6px black;
}
#feature-section .featurettes p {
  font-size: 25px;
  padding: 20px;
}
.about {
  margin: 0 auto;
  background: grey;
  font-size: 2rem;
  max-width: 500px;
}
.about h1,
.about h2,
.about h3 {
  text-align: center;
  font-weight: bold;
}
.about h1 {
  font-size: 4rem;
}
.about h2 {
  font-size: 3.5rem;
  background: purple;
  padding: 5px 0 5px 0;
}
.about h3 {
  font-size: 3rem;
}
.about img {
  width: 100%;
}
.about .company {
  background: white;
}
.about .profiles {
  display: flex;
  flex-direction: column;
  background: purple;
}
.about .profiles .blurb {
  padding: 10px 5% 10px 5%;
}
.about .profiles .blurb h3 {
  padding-top: 5px;
  background: purple;
}
.about .profiles h3 {
  padding: 10px 0 10px 0;
  background: white;
}
