#top-section {
    background: @linearGradient, url('../images/cover-pic.jpg');
    .sectionStyle(100%, 800px);
    margin-top: 0;
    background-size: cover;

    .top-container {
        padding: 100px;
        padding-left: 500px;
        height: 100px;
        width: 100%;
        box-sizing: border-box;
    }

    p {
        color: @nav-bg;
        font-size: 60px;
        font-weight: bold;
    }

    h1 {
        color: @font-color;
        font-size: 75px;
        font-weight: bold;
    }

    button {
        .signUp(block, @nav-bg, 200px, 45px, 2rem, 20px, center);
         border: 4px solid black;

        a {
            .aStyler();

            &:hover {
                background: black;
                color: @nav-bg;
            }
        }
    }
    
}

//FEATURES

#feature-section {
    .sectionStyle(100%, 700px);

    h2 {
         .h2Style();
         padding-left: 425px;
    }

    .feature-container {
        .displayFlex();
    }

    .featurettes {
        .boxStyler();
        
        p {
            font-size: 25px;
            padding: 20px;
        }
    }
}

//Steps Section

#step-section {
    background: @linearGradient, url('../images/parallax-pic.jpg');
    .sectionStyle(100%, 600px);
    margin-top: 0;
    background-size: cover;
    padding-top: 10%;

    .steps {
        .boxStyler();
        text-align: center;
    }


    h2 {
         font-size: 80px;
         font-weight: bold;
         margin: 0;
         padding: 30px;
         color: @nav-bg;
    }

    .step-container {
        .displayFlex();
    }

    h4 {
        font-size: 50px;
        font-weight: bold;
    }

    p {
        font-size: 25px;
    }
}

//Testimonials

#testimonial-section {
    .sectionStyle(100%, 700px);

    h2 {
        .h2Style();
        padding-left: 350px;
    }

    .testimonial-container {
       .displayFlex();

        .testimonies {
            position: relative;
            width: 350px;
            margin: 50px;
            background: @nav-bg;
            padding: 20px;
            box-sizing: border-box;
            text-align: center;
            box-shadow: 0 10px 6px -6px black;
        }

        p {
            font-size: 17px;
        }

        img {
            width: 150px;
            height: 150px;
            margin: 20px;
            border-radius: 50%;

        }
    }
}
