header {
    border-bottom: 4px solid @navigation-border;
    background-color: @nav-bg;
    margin: 0;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;

    nav {
        margin-left: 60px;
        margin-top: 0;
    }

    h1 {
        font-size: 3.5rem;
        color: @font-color;
    }

    a {
        margin-left: 20px;
        font-size: 2rem;
        color: @font-color;
        text-decoration: none;
    }
}
