header {
    border-bottom: 4px solid @navigation-border;
    background-color: @nav-bg;
    margin: 0;
    padding: 20px 0;
    .displayFlex();

    @media @phone {
        flex-direction: column;
        align-items: center;
    }
        


    nav {
        margin-left: 60px;
        margin-top: 0;
    }

    h1 {
        font-size: 3.5rem;
        color: @font-color;

        @media @phone {
            margin-bottom: 20px;
        }
    }

    a {
        margin-left: 20px;
        .aStyler();

        &:hover {
            background: black;
            color: @nav-bg;
        }

        @media @phone {
            padding-right: 25px;
        }
    }
}
