//Colors
@font-color: #000; //black
@navigation-border: #000; //black
@nav-bg: #89C9E4; //light blue
@linearGradient: linear-gradient(90deg, rgba(2, 0, 36, 0.7) 0%,
rgba(18, 3, 5, 0.5) 72%, rgba(85, 65, 65, 0.8) 98%);

//Mobile Configurations
@phone: ~"(max-width: 500px)";
@tablet: ~"(min-width: 800px)";
@desktop: ~"(min-width: 1100px)";